@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6{
  line-height: normal;
}

ul, ol{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 100px;
}

img{
  width: 100%;
  height: auto;
}

.flex{
  display: flex;
}

.grid{
  display: grid;
}

.text-center{
  text-align: center;
}

.dark1{
  color: #131313;
}

.dark2{
  color: #424242;
}

.dark3{
  color: #727272;
}

.btn{
  display: inline-block;
  padding: 15px 20px;
  background-color: #FF900E;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 600;
}

.btn:hover{
  background-color: green;
  box-shadow: 0 3px 40px 3px green;
}

/* header section */
section.header{
  background-color: rgba(255, 144, 14, 0.1);
}

section.header .navbar{
  margin-bottom: 102px;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center;
}

.navbar p{
  font-size: 2.8em;
  font-weight: 700;
}

.navbar p:hover{
  color: #268d19;
}

.navbar ul{
  gap: 50px;
}

.navbar ul li a{
  color: #424242;
  font-size: 18px;
  font-weight: 500;
}

.navbar ul li a:hover{
  color: #FF900E;
}

.hero-area h1{
  font-size: 4em;
  font-weight: 700;
}

.hero-area p{
  margin: 32px 0;
  padding: 0 100px;
}

.hero-area a{
  margin-bottom: 50px;
}

.hero-area img{
  margin-bottom: 40px;
}

@media screen and (max-width: 480px) {
  .container{
    padding: 0 20px;
  }

  section.header .navbar{
    margin-bottom: 50px;
    flex-direction: column;
    gap: 20px;
  }

   .navbar p{
    font-size: 1.8em;
   }

  .navbar ul{
    background-color: #FF900E;
    border-radius: 5px;
    justify-content: space-between;
    gap: 20px;
    padding: 8px 13px;
  }

  .navbar ul li a{
    color: #ffffff;
  }

  .hero-area h1{
    font-size: 2.4em;
  }

  .hero-area p{
    font-size: 14px;
    padding: 0;
  }

  .btn{
  display: inline-block;
  padding: 10px 15px;
  background-color: #FF900E;
  border-radius: 8px;
  border: none;
  color: #ffffff;
  font-size: 1em;
  font-weight: 500;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  section.header .navbar{
    margin-bottom: 50px;
    flex-direction: column;
    gap: 20px;
  }

   .navbar p{
    font-size: 2.1em;
   }

  .navbar ul{
    background-color: #FF900E;
    border-radius: 5px;
    justify-content: space-between;
    gap: 80px;
    padding: 8px 20px;
  }

  .navbar ul li a{
    color: #ffffff;
  }

  .hero-area h1{
    font-size: 3em;
  }

  .hero-area p{
    padding: 0;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  section.header .navbar{
    margin-bottom: 50px;
    flex-direction: column;
    gap: 20px;
  }

   .navbar p{
    font-size: 2.1em;
   }

  .navbar ul{
    background-color: #FF900E;
    border-radius: 5px;
    justify-content: space-between;
    gap: 80px;
    padding: 8px 20px;
  }

  .navbar ul li a{
    color: #ffffff;
  }

  .hero-area h1{
    font-size: 3em;
  }

  .hero-area p{
    margin: 20px 0;
  }
}

/* f-quicklist section */
section.f-quicklist{
  margin-top: 85px;
}

.f-ql-content{
  gap: 73px;
  justify-content: space-between;
  align-items: center;
}

.f-ql-content .img-area{
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.f-ql-content .text-area{
  width: 537px;
}

.f-ql-content .text-area #unq-h2{
  font-size: 2.8em;
}

.f-ql-content .text-area #unq-h2 .ql{
  font-weight: 500;
}

.f-ql-content .text-area #unq-h2 .or{
  font-weight: 700;
}
.f-ql-content .text-area #unq-h2 .f{
  color: #FF900E;
  font-weight: 700;
}

.f-ql-content .text-area p{
  margin-bottom: 32px;
}

@media screen and (max-width: 480px){
  .container{
    padding: 0 20px;
  }

  .f-ql-content{
    flex-direction: column-reverse;
    gap: 40px;
  }

  .f-ql-content .img-area{
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

.f-ql-content .text-area{
  width: auto;
}

.f-ql-content .text-area #unq-h2{
  font-size: 1.80em;
  margin-bottom: 20px;
}

.f-ql-content .text-area p{
  font-size: 14px;
  margin-bottom: 20px;
}

.f-ql-content .text-area .btn-span{
  display: block;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .f-ql-content{
    flex-direction: column-reverse;
    gap: 40px;
  }

  .f-ql-content .img-area{
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.f-ql-content .text-area{
  text-align: center;
  width: auto;
}

.f-ql-content .text-area #unq-h2{
  font-size: 2.2em;
  margin-bottom: 10px;
}

.f-ql-content .text-area p{
  margin-bottom: 20px;
}

.f-ql-content .text-area .btn-span{
  display: block;
}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .f-ql-content{
    flex-direction: column-reverse;
    gap: 40px;
  }

  .f-ql-content .img-area{
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.f-ql-content .text-area{
  text-align: center;
  width: auto;
}

.f-ql-content .text-area #unq-h2{
  font-size: 2.4;
  margin-bottom: 10px;
}

.f-ql-content .text-area p{
  margin-bottom: 20px;
}

.f-ql-content .text-area .btn-span{
  display: block;
}
}

/* features section */
section.features{
  margin: 130px 0;
}

.features-content{
  gap: 54px;
}

.features-content .details{
  margin-top: 40px;
  width: 586px;
}

.features-content .details h2{
  margin-bottom: 24px;
  font-size: 2.6em;
  border-left: 5px solid #FF900E;
  padding-left: 20px;
}

.features-content .details .dt-p{
  margin-bottom: 30px;
}

.features-content .details div{
  margin-bottom: 20px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.features-content .details div h3{
  margin-bottom: 10px;
  font-size: 1.25em;
  font-weight: 600;
}

.features-content .details div p{
  font-size: 14px;
}

.features-content .img-area #badge{
  display: inline-block;
  margin-top: -70px;
  margin-left: -40px;
  padding: 25px 20px;
  color: #ffffff;
  background-color: #FF900E;
  border-radius: 8px;
}

.features-content .img-area #badge:hover{
  background-color: #268d19;
  box-shadow: 0 3px 40px 3px #268d19;
}

.features-content .img-area #badge #year-span{
  font-size: 2em;
  font-weight: 700;
}

.features-content .img-area #badge #ex-span{
  font-size: 1.20em;
  font-weight: 500;
}

@media screen and (max-width: 480px) {
  section.features{
  margin-top: 60px;
}
  .container{
    padding: 0 20px;
  }

  .features-content{
    flex-direction: column;
  }

  .features-content .details{
    width: 100%;
  }

  .features-content .details h2{
    font-size: 1.80em;
    padding-left: 10px;
  }

  .features-content .details .dt-p{
    font-size: 14px;
  }

  .features-content .details div p{
    font-size: 12px;
  }

  .features-content .img-area #badge{
    margin-top: -80px;
    margin-left: -15px;
    padding: 10px 7px;
  }

  .features-content .img-area #badge #year-span{
    font-size: 1.2em;
  }

  .features-content .img-area #badge #ex-span{
    font-size: 0.72em;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  section.features{
    margin-top: 60px;
}
  .container{
    padding: 0 20px;
  }

  .features-content{
    flex-direction: column;
  }

  .features-content .details h2{
    font-size: 2.4em;
    padding-left: 10px;
  }

  .features-content .details{
    width: 100%;
  }

  .features-content .img-area #badge{
    margin-top: -80px;
    margin-left: -15px;
    padding: 25px 20px;
  }

  .features-content .img-area #badge #year-span{
    font-size: 1.6em;
  }

  .features-content .img-area #badge #ex-span{
    font-size: 1em;
  }
}

@media screen and (min-width: 767px) and (max-width: 1024px) {
  section.features{
    margin-top: 60px;
}
  .features-content{
    flex-direction: column;
  }

  .features-content .details{
    width: 100%;
  }
}

/* facts section */
.f-content h2{
  margin-bottom: 24px;
  font-size: 2.8em;
  font-weight: 700;
}

.f-content p{
  margin-right: 500px;
  margin-bottom: 100px;
}

.f-content .card-area{
  grid-template-columns: repeat(4, 1fr);
  gap: 33px;
}

.f-content .card-area .ca-div{
  width: 240px;
  height: 240px;
  border: 1px solid #FF900E;
  padding: 20px 25px 20px 25px;
  border-radius: 8px;
  text-align: center;
}

.f-content .card-area .ca-div:hover{
  border: 1px solid #268d19;
}

.f-content .card-area .ca-div img{
  width: 45px;
  height: 45px;
}

.f-content .card-area .ca-div h3{
  color: #424242;
  font-size: 2.8em;
  margin-top: 10px;
  margin-bottom: 5px;
}

.f-content .card-area .ca-div h4{
  color: #727272;
  font-size: 1.4em;
}

@media screen and (max-width: 480px) {
  .f-content h2{
    font-size: 1.80em;
    text-align: center;
    margin-bottom: 20px;
  }

  .f-content p{
    font-size: 14px;
    margin-right: 0;
    margin-bottom: 30px;
}
  .f-content .card-area{
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
}

.f-content .card-area .ca-div{
  padding: 20px 15px;
}

.f-content .card-area .ca-div h3{
  font-size: 1.8em;
}

.f-content .card-area .ca-div h4{
  font-size: 1.2em;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .f-content h2{
    font-size: 2.4em;
    margin-bottom: 24px;
    text-align: center;
  }

  .f-content p{
    text-align: center;
    margin-right: 0;
    margin-bottom: 30px;
}
  .f-content .card-area{
    grid-template-columns:repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}

.f-content .card-area .ca-div{
  padding: 20px 15px;
}

.f-content .card-area .ca-div h3{
  font-size: 2.4em;
}

.f-content .card-area .ca-div h4{
  font-size: 1.4em;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .f-content p{
    margin-right: 0;
    margin-bottom: 30px;
}
  .f-content .card-area{
    grid-template-columns:repeat(2, 1fr);
    gap: 30px;
    justify-items: center;
}
}

/* sponsors section */
section.sponsors{
  margin-top: 180px;
  margin-bottom: 130px;
}

.sponsors-content h2{
  font-size: 2.8em;
  font-weight: 700;
  margin-bottom: 24px;
}

.sponsors-content p{
  margin-bottom: 50px;
  padding: 0 250px;
}
 
.sponsors-content .sponsors-img{
  grid-template-columns: repeat(5, 1fr);
}

.sponsors-content .sponsors-img img{
  width: auto;
  filter: grayscale(1.0);
}

.sponsors-content .sponsors-img img:hover{
  filter: grayscale(0%);
}

@media screen and (max-width: 480px) {
  section.sponsors{
  margin-top: 100px;
  margin-bottom: 80px;
}

.sponsors-content h2{
  font-size: 1.8em;
}

.sponsors-content p{
  font-size: 14px;
  margin-bottom: 30px;
  padding: 0;
}

.sponsors-content .sponsors-img{
  grid-template-columns: 1fr;
  gap: 40px;
  justify-items: center;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  section.sponsors{
  margin-top: 100px;
  margin-bottom: 80px;
}

.sponsors-content h2{
  font-size: 2.4em;
}

.sponsors-content p{
  margin-bottom: 40px;
  padding: 0;
}

.sponsors-content .sponsors-img{
  grid-template-columns: 1fr;
  gap: 40px;
  justify-items: center;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  section.sponsors{
  margin-top: 100px;
  margin-bottom: 80px;
}

.sponsors-content p{
  margin-bottom: 40px;
  padding: 0;
}

.sponsors-content .sponsors-img{
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  justify-items: center;
  text-align: center;
}
}

/* footer section */
section.footer{
  margin-bottom: 200px;
}

section.footer .footer-content{
  background-color: rgba(255, 144, 14, 0.1);
  padding: 38px 0;
}

section.footer .footer-content p{
  font-size: 1.5em;
}

@media screen and (max-width: 480px) {
section.footer{
  margin-bottom: 100px;
}

section.footer .footer-content{
  padding: 20px 0;
}

section.footer .footer-content p{
  font-size: 0.9em;
}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
section.footer{
  margin-bottom: 150px;
}

section.footer .footer-content p{
  font-size: 1.2em;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  section.footer{
   margin-bottom: 170px;
}
}